@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

.App {
  height: 100vh;
}

.main {
  display: flex;
  height: 100vh;
  .feed {
    flex: 0.85;
    flex-grow: 1;
    background-color: #f5f9fa;
    overflow: hidden;
    overflow-y: scroll;
  }
}
